<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ПАРА</th>
            <th scope="col">{{days}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td></td>
        </tr>
    </tbody>
</table>