{% extends "base.html" %}

{% block content %}
<form class="mt-5" action="">
    <div class="form-group">
        <label class="row" for="exampleFormControlSelect1">Example select</label>
        <div class="row">
            <select class="form-control col-lg-10" id="exampleFormControlSelect1">
              <option>10702417</option>
            </select>
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>

    </div>
</form>
{% endblock %}